.cartItem {
    border: 1px solid #f3f3f3;
    border-radius: 20px;
    overflow: hidden;
    padding: 10px;

    p {
        font-size: 15px;
        margin-bottom: 5px;
        width: 200px;
    }

    b {
        font-size: 14px;
    }

    .cartItemImg {
        height: 88px;
        width: 120px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0 -18px;
    }
}

.removeBtn {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 200ms ease-in-out;

    &:hover {
        opacity: 1;
    }
}